body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav button {
  margin-left: 1rem;
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #ffffff;
  color: #0056b3;
  border-color: #0056b3;
}

main {
  padding: 2rem;
}

section {
  display: none;
}

section.active {
  display: block;
}

button {
  background-color: #007bff;
  border: 1px solid;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

button:hover {
  background-color: #ffffff;
  color: #0056b3;
  border-color: #0056b3;
}

button.delete-button {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  margin: 0px;
}

button.delete-button:hover {
  background-color: #ffffff;
  color: #dc3545;
  border-color: #dc3545;
  border: 1px solid #dc3545;
}

form label {
  display: block;
  margin-bottom: 1rem;
}

form input,
form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#login-message,
#register-message {
  margin-top: 1rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}

button.edit-button {
  background-color: #28a745;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

button.edit-button:hover {
  background-color: #218838;
}

form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button.edit-button {
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 0.5rem 1rem;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

button.edit-button:hover {
  background-color: #ffffff;
  color: #0056b3;
  border-color: #0056b3;
}
