body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 10px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

button,
nav button {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin: 0.5rem;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

button:hover,
nav button:hover {
  background-color: #ffffff;
  color: #007bff;
  border-color: #007bff;
}

button.delete-button {
  background-color: #dc3545;
  border-color: #dc3545;
}

button.delete-button:hover {
  background-color: #ffffff;
  color: #dc3545;
  border-color: #dc3545;
}

button.edit-button {
  background-color: #007bff;
  border-color: #007bff;
}

button.edit-button:hover {
  background-color: #ffffff;
  color: #0056b3;
  border-color: #0056b3;
}

section {
  display: none;
}

section.active {
  display: block;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

section#dashboard {
  background-image: url("stylish-soft-blue-curve-lines-abstract-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#dashboard h2 {
  color: #007bff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: none;
  padding: 0;
  border: none;
}

form label {
  display: block;
  margin-bottom: 1rem;
}

form input,
form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#login-message,
#register-message {
  margin-top: 1rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}
